* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: arial, sans-serif;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

main {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#add {
  background-color: white;
  height: 60px;
  width: 120px;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 30px;
}

#add:hover {
  background-color: #f0f0f0;
}

#add:focus {
  outline: none;
}

#remove {
  background-color: white;
  height: 60px;
  width: 120px;
  font-size: 20px;
  border-radius: 15px;
  text-decoration: none;
  margin-bottom: 80px;
  margin-top: 30px;
}

#remove:hover {
  background-color: #f0f0f0;
}

#remove:focus {
  outline: none;
}

#addFrame {
  margin-top: -140px;
  display: flex;
}

#input {
  height: 100px;
  width: 400px;
  font-size: 36px;
  padding-left: 35px;
  border-radius: 15px;
}

#input:hover {
  box-shadow: 1px 1px 5px 1px lightgray;
}

#input:focus {
  outline: none;
  box-shadow: 1px 1px 5px 1px lightgray;
}

#submitButton {
  height: 100px;
  width: 200px;
  background-color: white;
  font-size: 20px;
  border-radius: 15px;
  margin-left: 20px;
}

#submitButton:hover {
  background-color: #f0f0f0;
}

#submitButton:focus {
  outline: none;
}

.listItem {
  list-style-type: none;
  border: 2px solid;
  width: 300px;
  height: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.listItem:hover {
  background-color: #f0f0f0;
}

#list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  overflow: hidden;
  overflow-y: scroll;
}

#container #add {order: 1;}
#container #list {order: 2;}
#container #remove {order: 3;}


@media screen and (max-width: 680px) {
  #addFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  #submitButton {
    margin-top: 40px;
  }
}
